In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from pymongo import MongoClient

from bson.objectid import ObjectId

import os

## Intial run

In [2]:
# Intial run
def readdata():
    with MongoClient('mongodb://collectionreader:Lacritz12345%23@85.214.144.66:27017/?authSource=dclmdb&readPreference=primary&appname=MongoDB%20Compass&ssl=false') as client:
        filter={}

        result = client['testdb']['A01000_collection'].find(
          filter=filter
        )

    df = pd.DataFrame()

    for i in result:
        df = df.append(i, ignore_index=True)
    
    return df

In [153]:
df = readdata()

# DOM

In [7]:
#  first time only
df_dom = pd.DataFrame(columns=['_id','dom_time','dom_event','dom_data_id','dom_data_parent',
                                      'dom_data_previous','dom_data_tag','dom_data_position',
                                     'dom_data_selector','dom_data_hash','dom_data_attributes'])

In [33]:
df.iloc[00]['pointer'][0]['data']

{'target': 207, 'x': 403, 'y': 122}

In [104]:
df.loc[300:304]

,_id,connection,dimension,doc,envelope,ip,metric,navigation,pointer,resize,...,ping,limit,upload,unload,custom,dom,upgrade,selection,timeline,image
300,6069b4d5a863d0200fd12116,"[{'time': 19, 'event': 30, 'data': {'downlink'...","[{'time': 1436, 'event': 1, 'data': {'0': ['Mo...","[{'time': 2, 'event': 8, 'data': {'width': 151...","{'version': '0.6.10', 'sequence': 1, 'start': ...",::ffff:178.200.236.10,"[{'time': 1437, 'event': 0, 'data': {'0': 1617...","[{'time': 688, 'event': 29, 'data': {'fetchSta...","[{'time': 30, 'event': 12, 'data': {'target': ...","[{'time': 19, 'event': 11, 'data': {'width': 1...",...,NaN,NaN,NaN,"[{'time': 1436, 'event': 26, 'data': {'name': ...",NaN,NaN,NaN,NaN,NaN,NaN
301,6069b4d8a863d0200fd12117,"[{'time': 23, 'event': 30, 'data': {'downlink'...","[{'time': 3003, 'event': 1, 'data': {'0': ['Mo...","[{'time': 2, 'event': 8, 'data': {'width': 151...","{'version': '0.6.10', 'sequence': 1, 'start': ...",::ffff:178.200.236.10,"[{'time': 3003, 'event': 0, 'data': {'0': 1617...","[{'time': 699, 'event': 29, 'data': {'fetchSta...","[{'time': 505, 'event': 12, 'data': {'target':...","[{'time': 23, 'event': 11, 'data': {'width': 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,6069b4dda863d0200fd12118,"[{'time': 17, 'event': 30, 'data': {'downlink'...","[{'time': 3993, 'event': 1, 'data': {'0': ['Mo...","[{'time': 2, 'event': 8, 'data': {'width': 151...","{'version': '0.6.10', 'sequence': 1, 'start': ...",::ffff:178.200.236.10,"[{'time': 3993, 'event': 0, 'data': {'0': 1617...","[{'time': 815, 'event': 29, 'data': {'fetchSta...",NaN,"[{'time': 17, 'event': 11, 'data': {'width': 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,6069b51ba863d0200fd12119,NaN,NaN,NaN,"{'version': '0.6.10', 'sequence': 2, 'start': ...",::ffff:178.200.236.10,"[{'time': 64992, 'event': 0, 'data': {'1': 1, ...",NaN,NaN,NaN,...,"[{'time': 60994, 'event': 25, 'data': {'gap': ...",NaN,NaN,NaN,NaN,"[{'time': 2, 'event': 5, 'data': [{'id': 1, 'p...",NaN,NaN,NaN,NaN
304,6069b557a863d0200fd1211a,NaN,NaN,NaN,"{'version': '0.6.10', 'sequence': 3, 'start': ...",::ffff:178.200.236.10,"[{'time': 125993, 'event': 0, 'data': {'2': 16...",NaN,NaN,NaN,...,"[{'time': 121994, 'event': 25, 'data': {'gap':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
de = clean_update_data_dom(df)

No update in data.. Its same as saved one.

In [128]:
def clean_update_data_dom(df):
    path = 'D:\DataWorld\lacritz\data\clarity\\'
    header = 'dom'

    #df = readdata()
    if os.path.isfile(f'{path}{header}_data.csv'):
        df_dom = pd.read_csv(f'{path}{header}_data.csv', index_col=0)
        old_shape = df_dom.shape
        
        if len(df_dom) != 0:

            df_new_dom = df[df.timestamp > df[df._id == ObjectId(df_dom['_id'].iloc[-1])].timestamp.values[0]]
        else:

            df_new_dom = df.copy()
    else:
        df_new_dom = df.copy()
        old_shape = df_new_dom.shape
        df_dom = pd.DataFrame(columns=['_id','dom_time','dom_event','dom_data_id','dom_data_parent',
                                      'dom_data_previous','dom_data_tag','dom_data_position',
                                     'dom_data_selector','dom_data_hash','dom_data_attributes'])
    

    if len(df_new_dom) == 0:
        print('No update in data.. Its same as saved one.')
    else:
        print(f'New activities count: {len(df_new_dom)} ')

        for index, content in df_new_dom.iterrows():
            if isinstance(content.dom, list):
                
                for dom_ in content.dom:
                    if 'data' in dom_.keys():
                        for dom_id_ in dom_['data']:
                            
                            d = {'_id': content['_id'],
                                 'dom_time':dom_.get('time'),
                                 'dom_event':dom_.get('event'),
                                 'dom_data_id':dom_id_.get('id'),
                                 'dom_data_parent':dom_id_.get('parent'),
                                 'dom_data_previous':dom_id_.get('previous'),
                                 'dom_data_tag':dom_id_.get('tag'),
                                 'dom_data_position':dom_id_.get('position'),
                                 'dom_data_selector':dom_id_.get('selector'),
                                 'dom_data_hash':dom_id_.get('hash'),
                                 'dom_data_attributes':dom_id_.get('attributes')
                                }
                                
                            df_dom = df_dom.append(d, ignore_index=True)
            else:

                d = {'_id': content['_id'],
                             'dom_time':float("NaN"),
                             'dom_event':float("NaN"),
                             'dom_data_id':float("NaN"),
                             'dom_data_parent':float("NaN"),
                             'dom_data_previous':float("NaN"),
                             'dom_data_tag':float("NaN"),
                             'dom_data_position':float("NaN"),
                             'dom_data_selector':float("NaN"),
                             'dom_data_hash':float("NaN"),
                             'dom_data_attributes':float("NaN")
                            }
                
                df_dom = df_dom.append(d, ignore_index=True)

        t = datetime.now()
        timestamp = str(t.year) + '_' + str(t.month) + '_' + str(t.day) + '_' + str(t.hour) + '_' + str(
            t.minute) + '_' + str(t.second)
        df_dom.to_csv(f'{path}backup\\{header}_data_{timestamp}.csv')

        df_dom.to_csv(f'{path}{header}_data.csv')

        print(f'New rows added:  {df_dom.shape[0] - old_shape[0]} ')
        
        return df_dom

In [133]:
de.dom_event.value_counts(dropna=False)

5.0    41419
6.0      654
NaN      277
Name: dom_event, dtype: int64

In [137]:
de.dom_data_tag.value_counts(dropna=False).head(10)

*T      26066
DIV      6425
A        1988
SPAN     1755
LINK     1389
I         872
LI        610
H2        430
P         411
NaN       351
Name: dom_data_tag, dtype: int64

In [143]:
de.dom_data_hash.value_counts().shape

(5301,)

In [146]:
de.dom_data_parent.value_counts()

3.0       3739
5.0       1213
626.0      428
253.0      287
265.0      222
          ...
918.0        1
1564.0       1
915.0        1
1570.0       1
1612.0       1
Name: dom_data_parent, Length: 1275, dtype: int64

In [150]:
de.dom_data_attributes.loc[42322]

{'style': 'color: tomato;', 'href': 'http://mytravelexp.com/about/'}