In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from pymongo import MongoClient

## Intial run

In [2]:
# Intial run
def readdata():
    client = MongoClient('mongodb://collectionreader:Lacritz12345%23@85.214.144.66:27017/?authSource=dclmdb&readPreference=primary&appname=MongoDB%20Compass&ssl=false')
    filter={}

    result = client['testdb']['A01000_collection'].find(
      filter=filter
    )

    df = pd.DataFrame()

    for i in result:
        df = df.append(i, ignore_index=True)
    
    return df

#   Execute one time to set the dataframe for comparison

In [3]:
    # run only first time
df_A01000 = readdata()
df_updated = df_A01000.copy()
df_i = df_updated.ip.str.lstrip(':f').value_counts()

df_ip = pd.DataFrame(index=df_i.index,data=df_i.values, columns=['Count'])

df_ip['Update'] = '-'

### df_geo

In [4]:
def ipInfo(addr=''):
    from urllib.request import urlopen
    from json import load
    if addr == '':
        url = 'https://ipinfo.io/json'
    else:
        url = 'https://ipinfo.io/' + addr + '/json'
    res = urlopen(url)
    #response from url(if res==None then check connection)
    data = load(res)
    #will load the json response into data
    return data

In [5]:
df_geo = pd.DataFrame(df_ip.index, columns=['IP'])

df_geo['ipinfo'] = df_geo.IP.apply(lambda x:ipInfo(x))

df_geo['city']= df_geo['ipinfo'].apply(lambda x: x.get('city'))
df_geo['region']= df_geo['ipinfo'].apply(lambda x: x.get('region'))
df_geo['country']= df_geo['ipinfo'].apply(lambda x: x.get('country'))
df_geo['location']= df_geo['ipinfo'].apply(lambda x: x.get('loc'))
df_geo['Connection']= df_geo['ipinfo'].apply(lambda x: x.get('org'))
df_geo.drop(columns=['ipinfo'], inplace=True)

df_geo.set_index('IP', inplace=True)
df_geo

,city,region,country,location,Connection
IP,,,,,
178.200.236.10,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
95.223.182.163,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
95.223.182.98,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
103.77.37.91,Vijayawada,Andhra Pradesh,IN,"16.5074,80.6466",AS24186 RailTel Corporation of India Ltd
46.128.196.219,Frankfurt am Main,Hesse,DE,"50.1155,8.6842",AS35244 Tele Columbus AG
49.207.214.61,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS24309 Atria Convergence Technologies Pvt. Lt...
49.207.214.25,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS24309 Atria Convergence Technologies Pvt. Lt...
103.77.37.48,Hyderabad,Telangana,IN,"17.3840,78.4564",AS24186 RailTel Corporation of India Ltd
94.134.92.219,Nürnberg,Bavaria,DE,"49.4542,11.0775",AS8881 1&1 Versatel Deutschland GmbH
103.77.37.40,Hyderabad,Telangana,IN,"17.3840,78.4564",AS24186 RailTel Corporation of India Ltd
49.207.212.248,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS24309 Atria Convergence Technologies Pvt. Lt...
178.200.236.27,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
66.249.70.56,Mount Pleasant,South Carolina,US,"32.7941,-79.8626",AS15169 Google LLC
66.249.70.58,Mount Pleasant,South Carolina,US,"32.7941,-79.8626",AS15169 Google LLC
196.15.23.13,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS38538 Oracle India Developement Centre.
66.249.70.60,Mount Pleasant,South Carolina,US,"32.7941,-79.8626",AS15169 Google LLC
127.0.0.1,None,None,None,None,None
66.249.68.52,Des Moines,Washington,US,"47.4018,-122.3243",AS15169 Google LLC
196.15.23.6,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS38538 Oracle India Developement Centre.
66.249.68.54,Des Moines,Washington,US,"47.4018,-122.3243",AS15169 Google LLC
66.249.68.50,Des Moines,Washington,US,"47.4018,-122.3243",AS15169 Google LLC
66.249.66.92,Ashburn,Virginia,US,"39.0437,-77.4875",AS15169 Google LLC
66.249.66.94,Ashburn,Virginia,US,"39.0437,-77.4875",AS15169 Google LLC

In [6]:
df_A01000.shape

(537, 25)

### Check update if someone has accessed

In [7]:
df_updated = readdata()
temp= df_updated.ip.str.lstrip(':f').value_counts()
temp.rename("NewCount", inplace=True)

if 'Count' in df_ip:
    df_ip.rename({'Count':'OldCount'}, axis=1, inplace=True)
    
if not 'NewCount' in df_ip:
    df_ip['NewCount'] = 'NA'

for col in df_ip.columns:
    if not col in ['OldCount',  'NewCount','Update']:
        df_ip.drop(columns=[col],inplace=True)
        
df_ip.columns = ['OldCount',  'NewCount','Update']

update_ip = []

for label, content in temp.iteritems(): 
    if label in df_ip.index:
        #print(label)
        if df_ip.loc[label]['OldCount'] ==  temp[label]:
            #repeat
            df_ip.loc[label] = [df_ip.loc[label]['OldCount'],df_ip.loc[label]['NewCount'],'NaN']
            
        else:
            #update
            df_ip.loc[label] = [df_ip.loc[label]['OldCount'],df_ip.loc[label]['NewCount'], temp[label] - (df_ip.loc[label]['OldCount'] if df_ip.loc[label]['OldCount']!='NA' else 0)]
            update_ip.append(label)
    else:
        df_ip.loc[label] =  ['NA','NA',temp[label]]
        # new ip

#temp = pd.DataFrame(temp)
df_ip.drop(columns=['NewCount'],inplace=True)
df_ip = pd.concat( [df_ip, temp],axis=1)
df_ip = df_ip[['OldCount',  'NewCount','Update']]
df_ip = pd.concat([df_ip,df_geo.city], axis=1)

#print (f"Before : {df_ip['OldCount'].sum()} \n After: {temp.sum()}")

for j,ip_ in enumerate(update_ip):
    print ( f"{j+1}. User is from : {df_geo.loc[ip_]['city']},{df_geo.loc[ip_]['country']}, {df_geo.loc[ip_]['region']}")
    
df_ip

                OldCount  NewCount Update               city
IP
178.200.236.10       121       121    NaN               Bonn
95.223.182.163        91        91    NaN               Bonn
95.223.182.98         80        80    NaN               Bonn
103.77.37.91          45        45    NaN         Vijayawada
46.128.196.219        30        30    NaN  Frankfurt am Main
49.207.214.61         26        26    NaN          Bengaluru
49.207.214.25         23        23    NaN          Bengaluru
103.77.37.48          22        22    NaN          Hyderabad
94.134.92.219         17        17    NaN           Nürnberg
103.77.37.40          15        15    NaN          Hyderabad
49.207.212.248        14        14    NaN          Bengaluru
178.200.236.27        13        13    NaN               Bonn
66.249.70.56           9         9    NaN     Mount Pleasant
66.249.70.58           7         7    NaN     Mount Pleasant
196.15.23.13           7         7    NaN          Bengaluru
66.249.70.60           4         4    NaN     Mount Pleasant
127.0.0.1              3         3    NaN               None
66.249.68.52           2         2    NaN         Des Moines
196.15.23.6            2         2    NaN          Bengaluru
66.249.68.54           2         2    NaN         Des Moines
66.249.68.50           2         2    NaN         Des Moines
66.249.66.92           1         1    NaN            Ashburn
66.249.66.94           1         1    NaN            Ashburn

## Session id and user id

In [8]:
df = readdata()

In [9]:
df.envelope[0]['userId']

'1523jpa'

In [10]:
df.envelope[0]['sessionId']

'b0uews'

In [11]:
df.envelope[0]['projectId']

'A01000'

In [12]:
df.ip = df.ip.str.lstrip(':f')
df.set_index('ip', inplace=True)

In [13]:
df_envelope = pd.DataFrame(index=df.index, columns=['sessionId', 'userId', 'projectId', 'duration',
       'start', 'end', 'version', 'sequence', 'pageNum', 'upload', 'DateTime'])


for label, content in df.iterrows():
    col = content.envelope.keys()
    for c in col:
        df_envelope.loc[label,c] = content.envelope[c]
    
    df_envelope.loc[label,'DateTime'] = datetime.fromtimestamp(content.timestamp/1000)
    


# splitting the datetime    
df_envelope['Date'] = df_envelope['DateTime'].apply(lambda x : x.date())
df_envelope['Time'] = df_envelope['DateTime'].apply(lambda x : x.time())
df_envelope['Time'] = df_envelope['Time'].apply(lambda x : x.strftime("%H:%M:%S"))
df_envelope.drop(columns=['DateTime'], inplace=True)


# merging city information 
df_envelope = pd.merge(df_envelope,df_geo.city,right_index=True, left_index=True)

  ## df_envelope contains information about time, sessionid, userid, location etc

In [14]:
df_envelope[df_envelope.city=='Bonn'].sessionId.unique()

array(['p37ljn', '1csr77r', 'gtf7t8', '111j3jy'], dtype=object)

In [15]:
df_envelope.groupby(['city','userId','Date']).count()

                                      sessionId  projectId  duration  start  \
city              userId  Date
Ashburn           x0rkit  2021-03-30          2          2         2      2
Bengaluru         1qtg2g9 2021-03-30          9          9         9      9
                  ju8tuw  2021-04-03         14         14        14     14
                          2021-04-04         23         23        23     23
                          2021-04-05         26         26        26     26
Bonn              1kuh7mx 2021-04-04        121        121       121    121
                  j87jtf  2021-04-03         80         80        80     80
                          2021-04-05         91         91        91     91
                          2021-04-06         13         13        13     13
Des Moines        x0rkit  2021-03-29          6          6         6      6
Frankfurt am Main duyqwu  2021-04-04         30         30        30     30
Hyderabad         1qtg2g9 2021-03-27         22         22        22     22
                          2021-04-04         15         15        15     15
Mount Pleasant    x0rkit  2021-04-04          7          7         7      7
                          2021-04-05         13         13        13     13
Nürnberg          mkf20j  2021-04-05         17         17        17     17
Vijayawada        199j196 2021-03-30         45         45        45     45

                                      end  version  sequence  pageNum  upload  \
city              userId  Date
Ashburn           x0rkit  2021-03-30    2        2         2        2       2
Bengaluru         1qtg2g9 2021-03-30    9        9         9        9       9
                  ju8tuw  2021-04-03   14       14        14       14      14
                          2021-04-04   23       23        23       23      23
                          2021-04-05   26       26        26       26      26
Bonn              1kuh7mx 2021-04-04  121      121       121      121     121
                  j87jtf  2021-04-03   80       80        80       80      80
                          2021-04-05   91       91        91       91      91
                          2021-04-06   13       13        13       13      13
Des Moines        x0rkit  2021-03-29    6        6         6        6       6
Frankfurt am Main duyqwu  2021-04-04   30       30        30       30      30
Hyderabad         1qtg2g9 2021-03-27   22       22        22       22      22
                          2021-04-04   15       15        15       15      15
Mount Pleasant    x0rkit  2021-04-04    7        7         7        7       7
                          2021-04-05   13       13        13       13      13
Nürnberg          mkf20j  2021-04-05   17       17        17       17      17
Vijayawada        199j196 2021-03-30   45       45        45       45      45

                                      Time
city              userId  Date
Ashburn           x0rkit  2021-03-30     2
Bengaluru         1qtg2g9 2021-03-30     9
                  ju8tuw  2021-04-03    14
                          2021-04-04    23
                          2021-04-05    26
Bonn              1kuh7mx 2021-04-04   121
                  j87jtf  2021-04-03    80
                          2021-04-05    91
                          2021-04-06    13
Des Moines        x0rkit  2021-03-29     6
Frankfurt am Main duyqwu  2021-04-04    30
Hyderabad         1qtg2g9 2021-03-27    22
                          2021-04-04    15
Mount Pleasant    x0rkit  2021-04-04     7
                          2021-04-05    13
Nürnberg          mkf20j  2021-04-05    17
Vijayawada        199j196 2021-03-30    45

In [16]:
df_envelope.groupby(['city','sessionId', 'Date']).count()

                                        userId  projectId  duration  start  \
city              sessionId Date
Ashburn           11h19hg   2021-03-30       2          2         2      2
Bengaluru         1cvqxr1   2021-04-05      26         26        26     26
                  1d9gxi5   2021-03-30       7          7         7      7
                  1fchtkp   2021-04-04      23         23        23     23
                  1gy2b8l   2021-03-30       2          2         2      2
                  evoxy8    2021-04-03      14         14        14     14
Bonn              111j3jy   2021-04-03      80         80        80     80
                  1csr77r   2021-04-06      13         13        13     13
                  gtf7t8    2021-04-05      91         91        91     91
                  p37ljn    2021-04-04     121        121       121    121
Des Moines        11h19hg   2021-03-29       6          6         6      6
Frankfurt am Main 42ej9e    2021-04-04      30         30        30     30
Hyderabad         1lzrt2x   2021-04-04      15         15        15     15
                  1x7i3u7   2021-03-27      22         22        22     22
Mount Pleasant    11h19hg   2021-04-04       7          7         7      7
                            2021-04-05      13         13        13     13
Nürnberg          2hidmb    2021-04-05      17         17        17     17
Vijayawada        hd98oy    2021-03-30      45         45        45     45

                                        end  version  sequence  pageNum  \
city              sessionId Date
Ashburn           11h19hg   2021-03-30    2        2         2        2
Bengaluru         1cvqxr1   2021-04-05   26       26        26       26
                  1d9gxi5   2021-03-30    7        7         7        7
                  1fchtkp   2021-04-04   23       23        23       23
                  1gy2b8l   2021-03-30    2        2         2        2
                  evoxy8    2021-04-03   14       14        14       14
Bonn              111j3jy   2021-04-03   80       80        80       80
                  1csr77r   2021-04-06   13       13        13       13
                  gtf7t8    2021-04-05   91       91        91       91
                  p37ljn    2021-04-04  121      121       121      121
Des Moines        11h19hg   2021-03-29    6        6         6        6
Frankfurt am Main 42ej9e    2021-04-04   30       30        30       30
Hyderabad         1lzrt2x   2021-04-04   15       15        15       15
                  1x7i3u7   2021-03-27   22       22        22       22
Mount Pleasant    11h19hg   2021-04-04    7        7         7        7
                            2021-04-05   13       13        13       13
Nürnberg          2hidmb    2021-04-05   17       17        17       17
Vijayawada        hd98oy    2021-03-30   45       45        45       45

                                        upload  Time
city              sessionId Date
Ashburn           11h19hg   2021-03-30       2     2
Bengaluru         1cvqxr1   2021-04-05      26    26
                  1d9gxi5   2021-03-30       7     7
                  1fchtkp   2021-04-04      23    23
                  1gy2b8l   2021-03-30       2     2
                  evoxy8    2021-04-03      14    14
Bonn              111j3jy   2021-04-03      80    80
                  1csr77r   2021-04-06      13    13
                  gtf7t8    2021-04-05      91    91
                  p37ljn    2021-04-04     121   121
Des Moines        11h19hg   2021-03-29       6     6
Frankfurt am Main 42ej9e    2021-04-04      30    30
Hyderabad         1lzrt2x   2021-04-04      15    15
                  1x7i3u7   2021-03-27      22    22
Mount Pleasant    11h19hg   2021-04-04       7     7
                            2021-04-05      13    13
Nürnberg          2hidmb    2021-04-05      17    17
Vijayawada        hd98oy    2021-03-30      45    45

In [17]:
df_envelope.groupby([ 'Date','city','userId']).count()

                                      sessionId  projectId  duration  start  \
Date       city              userId
2021-03-27 Hyderabad         1qtg2g9         22         22        22     22
2021-03-29 Des Moines        x0rkit           6          6         6      6
2021-03-30 Ashburn           x0rkit           2          2         2      2
           Bengaluru         1qtg2g9          9          9         9      9
           Vijayawada        199j196         45         45        45     45
2021-04-03 Bengaluru         ju8tuw          14         14        14     14
           Bonn              j87jtf          80         80        80     80
2021-04-04 Bengaluru         ju8tuw          23         23        23     23
           Bonn              1kuh7mx        121        121       121    121
           Frankfurt am Main duyqwu          30         30        30     30
           Hyderabad         1qtg2g9         15         15        15     15
           Mount Pleasant    x0rkit           7          7         7      7
2021-04-05 Bengaluru         ju8tuw          26         26        26     26
           Bonn              j87jtf          91         91        91     91
           Mount Pleasant    x0rkit          13         13        13     13
           Nürnberg          mkf20j          17         17        17     17
2021-04-06 Bonn              j87jtf          13         13        13     13

                                      end  version  sequence  pageNum  upload  \
Date       city              userId
2021-03-27 Hyderabad         1qtg2g9   22       22        22       22      22
2021-03-29 Des Moines        x0rkit     6        6         6        6       6
2021-03-30 Ashburn           x0rkit     2        2         2        2       2
           Bengaluru         1qtg2g9    9        9         9        9       9
           Vijayawada        199j196   45       45        45       45      45
2021-04-03 Bengaluru         ju8tuw    14       14        14       14      14
           Bonn              j87jtf    80       80        80       80      80
2021-04-04 Bengaluru         ju8tuw    23       23        23       23      23
           Bonn              1kuh7mx  121      121       121      121     121
           Frankfurt am Main duyqwu    30       30        30       30      30
           Hyderabad         1qtg2g9   15       15        15       15      15
           Mount Pleasant    x0rkit     7        7         7        7       7
2021-04-05 Bengaluru         ju8tuw    26       26        26       26      26
           Bonn              j87jtf    91       91        91       91      91
           Mount Pleasant    x0rkit    13       13        13       13      13
           Nürnberg          mkf20j    17       17        17       17      17
2021-04-06 Bonn              j87jtf    13       13        13       13      13

                                      Time
Date       city              userId
2021-03-27 Hyderabad         1qtg2g9    22
2021-03-29 Des Moines        x0rkit      6
2021-03-30 Ashburn           x0rkit      2
           Bengaluru         1qtg2g9     9
           Vijayawada        199j196    45
2021-04-03 Bengaluru         ju8tuw     14
           Bonn              j87jtf     80
2021-04-04 Bengaluru         ju8tuw     23
           Bonn              1kuh7mx   121
           Frankfurt am Main duyqwu     30
           Hyderabad         1qtg2g9    15
           Mount Pleasant    x0rkit      7
2021-04-05 Bengaluru         ju8tuw     26
           Bonn              j87jtf     91
           Mount Pleasant    x0rkit     13
           Nürnberg          mkf20j     17
2021-04-06 Bonn              j87jtf     13