In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from ast import literal_eval
from pymongo import MongoClient
import numpy as np
from ast import literal_eval

In [11]:
df_pointer = pd.read_csv('D:/DataWorld/lacritz/data/clarity/pointer_data.csv',index_col=0)
df_click = pd.read_csv('D:/DataWorld/lacritz/data/clarity/click_data.csv',index_col=0)
df_nv = pd.read_csv('D:/DataWorld/lacritz/data/clarity/nv_data.csv',index_col=0)
df_dm = pd.read_csv('D:/DataWorld/lacritz/data/clarity/dm_data.csv',index_col=0)
df_dom = pd.read_csv('D:/DataWorld/lacritz/data/clarity/dom_data.csv',index_col=0)
df_cn = pd.read_csv('D:/DataWorld/lacritz/data/clarity/cn_data.csv',index_col=0)
df_env = pd.read_csv('D:/DataWorld/lacritz/data/clarity/env_data.csv',index_col=0)
df_tm = pd.read_csv('D:/DataWorld/lacritz/data/clarity/tm_data.csv',index_col=0)
df_geo = pd.read_csv('D:/DataWorld/lacritz/data/clarity/geo_data.csv',index_col=0)

In [3]:
# Intial run
def readdata():
    with MongoClient('mongodb://collectionreader:Lacritz12345%23@85.214.144.66:27017/?authSource=dclmdb&readPreference=primary&appname=MongoDB%20Compass&ssl=false') as client:
        filter={}

        result = client['testdb']['A01000_collection'].find(
          filter=filter
        )

    df = pd.DataFrame()

    for i in result:
        df = df.append(i, ignore_index=True)
    
    return df

df = readdata()

In [4]:
print(f'Dimension:      {df_dm.shape},\nDOM:            {df_dom.shape},\
      \nClick:          {df_click.shape}, \nConnection:     { df_cn.shape},\
      \nPointer:        { df_pointer.shape},\nNavigation:     {df_nv.shape},\
      \nEnvelope:       { df_env.shape},\nTimestamp:      {df_tm.shape}, \nMainDF:         { df.shape}')

Dimension:      (770, 13),
DOM:            (104522, 12),
Click:          (808, 23),
Connection:     (778, 9),
Pointer:        (13826, 7),
Navigation:     (770, 20),
Envelope:       (770, 11),
Timestamp:      (770, 4),
MainDF:         (770, 26)

## Join on _id

In [12]:
df_tmp = pd.DataFrame()
print(df_dm.shape)

df_tmp = pd.merge(df_dm, df_env[['_id','env_userId']],how='left',left_on='_id', right_on='_id')
print(df_tmp.shape)
df_tmp = pd.merge(df_tmp, df_tm[['_id','tm_date','tm_time']],how='left',left_on='_id', right_on='_id')
print(df_tmp.shape)
df_tmp = pd.merge(df_tmp, df_geo[['_id','geo_city']],how='left',left_on='_id', right_on='_id')
print(df_tmp.shape)

(770, 13)
(770, 14)
(770, 16)
(770, 17)

In [13]:
df_tmp.columns

Index(['session_id', 'dm_time', 'dm_event', 'dm_data_UserAgent_0',
       'dm_data_url_1', 'dm_data_referrer_2', 'dm_data_pagetitle_3',
       'dm_data_NetworkHosts_4', 'dm_data_SchemaType_5',
       'dm_data_ProductBrand_6', 'dm_data_ProductAvailability_7',
       'dm_data_AuthorName_8', '_id', 'env_userId', 'tm_date', 'tm_time',
       'geo_city'],
      dtype='object')

## Session vs time : duration for each session

In [22]:
df_duration  = df_tmp[df_tmp.geo_city=='Bonn'].groupby(['session_id','tm_date','tm_time']).count()
#tmp
df_duration

                                       dm_time  dm_event  dm_data_UserAgent_0  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000        1         1                    1
                      16:37:22.548000        0         0                    0
                      16:37:26.657000        0         0                    0
                      16:37:31.658000        0         0                    0
                      16:37:40.823000        0         0                    0
...                                        ...       ...                  ...
ytlxi9     2021-04-04 15:40:33.006000        0         0                    0
                      15:41:33.019000        0         0                    0
                      15:42:32.990000        0         0                    0
                      15:43:30.004000        0         0                    0
yxdw2i     2021-04-08 18:50:13.223000        1         1                    1

                                       dm_data_url_1  dm_data_referrer_2  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000              1                   1
                      16:37:22.548000              0                   0
                      16:37:26.657000              0                   0
                      16:37:31.658000              0                   0
                      16:37:40.823000              0                   0
...                                              ...                 ...
ytlxi9     2021-04-04 15:40:33.006000              0                   0
                      15:41:33.019000              0                   0
                      15:42:32.990000              0                   0
                      15:43:30.004000              0                   0
yxdw2i     2021-04-08 18:50:13.223000              1                   0

                                       dm_data_pagetitle_3  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000                    1
                      16:37:22.548000                    0
                      16:37:26.657000                    0
                      16:37:31.658000                    0
                      16:37:40.823000                    0
...                                                    ...
ytlxi9     2021-04-04 15:40:33.006000                    0
                      15:41:33.019000                    0
                      15:42:32.990000                    0
                      15:43:30.004000                    0
yxdw2i     2021-04-08 18:50:13.223000                    1

                                       dm_data_NetworkHosts_4  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000                       1
                      16:37:22.548000                       0
                      16:37:26.657000                       0
                      16:37:31.658000                       0
                      16:37:40.823000                       0
...                                                       ...
ytlxi9     2021-04-04 15:40:33.006000                       0
                      15:41:33.019000                       0
                      15:42:32.990000                       0
                      15:43:30.004000                       0
yxdw2i     2021-04-08 18:50:13.223000                       1

                                       dm_data_SchemaType_5  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000                     0
                      16:37:22.548000                     0
                      16:37:26.657000                     0
                      16:37:31.658000                     0
                      16:37:40.823000                     0
...                                                     ...
ytlxi9     2021-04-04 15:40:33.006000                     0
                      15:41:33.019000                     0
                      15:42:32.990000                     0
                      15:43:30.004000                     0
yxdw2i     2021-04-08 18:50:13.223000                     0

                                       dm_data_ProductBrand_6  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000                       0
                      16:37:22.548000                       0
                      16:37:26.657000                       0
                      16:37:31.658000                       0
                      16:37:40.823000                       0
...                                                       ...
ytlxi9     2021-04-04 15:40:33.006000                       0
                      15:41:33.019000                       0
                      15:42:32.990000                       0
                      15:43:30.004000                       0
yxdw2i     2021-04-08 18:50:13.223000                       0

                                       dm_data_ProductAvailability_7  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000                              0
                      16:37:22.548000                              0
                      16:37:26.657000                              0
                      16:37:31.658000                              0
                      16:37:40.823000                              0
...                                                              ...
ytlxi9     2021-04-04 15:40:33.006000                              0
                      15:41:33.019000                              0
                      15:42:32.990000                              0
                      15:43:30.004000                              0
yxdw2i     2021-04-08 18:50:13.223000                              0

                                       dm_data_AuthorName_8  _id  env_userId  \
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000                     0    1           1
                      16:37:22.548000                     0    1           1
                      16:37:26.657000                     0    1           1
                      16:37:31.658000                     0    1           1
                      16:37:40.823000                     0    1           1
...                                                     ...  ...         ...
ytlxi9     2021-04-04 15:40:33.006000                     0    1           1
                      15:41:33.019000                     0    1           1
                      15:42:32.990000                     0    1           1
                      15:43:30.004000                     0    1           1
yxdw2i     2021-04-08 18:50:13.223000                     0    1           1

                                       geo_city
session_id tm_date    tm_time
111j3jy    2021-04-03 16:37:18.945000         1
                      16:37:22.548000         1
                      16:37:26.657000         1
                      16:37:31.658000         1
                      16:37:40.823000         1
...                                         ...
ytlxi9     2021-04-04 15:40:33.006000         1
                      15:41:33.019000         1
                      15:42:32.990000         1
                      15:43:30.004000         1
yxdw2i     2021-04-08 18:50:13.223000         1

[532 rows x 14 columns]

In [23]:
df_duration.loc['111j3jy']

                            dm_time  dm_event  dm_data_UserAgent_0  \
tm_date    tm_time
2021-04-03 16:37:18.945000        1         1                    1
           16:37:22.548000        0         0                    0
           16:37:26.657000        0         0                    0
           16:37:31.658000        0         0                    0
           16:37:40.823000        0         0                    0
           16:38:41.858000        0         0                    0
           16:39:42.825000        0         0                    0
           16:40:43.841000        0         0                    0
           16:41:44.837000        0         0                    0
           16:42:45.820000        0         0                    0
           16:45:49.306000        1         1                    1
           16:45:52.678000        1         1                    1
           16:46:53.967000        0         0                    0
           16:47:48.106000        0         0                    0
           16:47:48.662000        0         0                    0
           16:47:52.664000        1         1                    1
           16:48:54.050000        0         0                    0
           16:49:54.825000        0         0                    0
           16:50:55.829000        0         0                    0
           16:51:56.824000        0         0                    0
           16:52:57.864000        0         0                    0

                            dm_data_url_1  dm_data_referrer_2  \
tm_date    tm_time
2021-04-03 16:37:18.945000              1                   1
           16:37:22.548000              0                   0
           16:37:26.657000              0                   0
           16:37:31.658000              0                   0
           16:37:40.823000              0                   0
           16:38:41.858000              0                   0
           16:39:42.825000              0                   0
           16:40:43.841000              0                   0
           16:41:44.837000              0                   0
           16:42:45.820000              0                   0
           16:45:49.306000              1                   1
           16:45:52.678000              1                   1
           16:46:53.967000              0                   0
           16:47:48.106000              0                   0
           16:47:48.662000              0                   0
           16:47:52.664000              1                   1
           16:48:54.050000              0                   0
           16:49:54.825000              0                   0
           16:50:55.829000              0                   0
           16:51:56.824000              0                   0
           16:52:57.864000              0                   0

                            dm_data_pagetitle_3  dm_data_NetworkHosts_4  \
tm_date    tm_time
2021-04-03 16:37:18.945000                    1                       1
           16:37:22.548000                    0                       0
           16:37:26.657000                    0                       0
           16:37:31.658000                    0                       0
           16:37:40.823000                    0                       0
           16:38:41.858000                    0                       0
           16:39:42.825000                    0                       0
           16:40:43.841000                    0                       0
           16:41:44.837000                    0                       0
           16:42:45.820000                    0                       0
           16:45:49.306000                    1                       1
           16:45:52.678000                    1                       1
           16:46:53.967000                    0                       0
           16:47:48.106000                    0                       0
           16:47:48.662000                    0                       0
           16:47:52.664000                    1                       1
           16:48:54.050000                    0                       0
           16:49:54.825000                    0                       0
           16:50:55.829000                    0                       0
           16:51:56.824000                    0                       0
           16:52:57.864000                    0                       0

                            dm_data_SchemaType_5  dm_data_ProductBrand_6  \
tm_date    tm_time
2021-04-03 16:37:18.945000                     0                       0
           16:37:22.548000                     0                       0
           16:37:26.657000                     0                       0
           16:37:31.658000                     0                       0
           16:37:40.823000                     0                       0
           16:38:41.858000                     0                       0
           16:39:42.825000                     0                       0
           16:40:43.841000                     0                       0
           16:41:44.837000                     0                       0
           16:42:45.820000                     0                       0
           16:45:49.306000                     0                       0
           16:45:52.678000                     0                       0
           16:46:53.967000                     0                       0
           16:47:48.106000                     0                       0
           16:47:48.662000                     0                       0
           16:47:52.664000                     0                       0
           16:48:54.050000                     0                       0
           16:49:54.825000                     0                       0
           16:50:55.829000                     0                       0
           16:51:56.824000                     0                       0
           16:52:57.864000                     0                       0

                            dm_data_ProductAvailability_7  \
tm_date    tm_time
2021-04-03 16:37:18.945000                              0
           16:37:22.548000                              0
           16:37:26.657000                              0
           16:37:31.658000                              0
           16:37:40.823000                              0
           16:38:41.858000                              0
           16:39:42.825000                              0
           16:40:43.841000                              0
           16:41:44.837000                              0
           16:42:45.820000                              0
           16:45:49.306000                              0
           16:45:52.678000                              0
           16:46:53.967000                              0
           16:47:48.106000                              0
           16:47:48.662000                              0
           16:47:52.664000                              0
           16:48:54.050000                              0
           16:49:54.825000                              0
           16:50:55.829000                              0
           16:51:56.824000                              0
           16:52:57.864000                              0

                            dm_data_AuthorName_8  _id  env_userId  geo_city
tm_date    tm_time
2021-04-03 16:37:18.945000                     0    1           1         1
           16:37:22.548000                     0    1           1         1
           16:37:26.657000                     0    1           1         1
           16:37:31.658000                     0    1           1         1
           16:37:40.823000                     0    1           1         1
           16:38:41.858000                     0    1           1         1
           16:39:42.825000                     0    1           1         1
           16:40:43.841000                     0    1           1         1
           16:41:44.837000                     0    1           1         1
           16:42:45.820000                     0    1           1         1
           16:45:49.306000                     1    1           1         1
           16:45:52.678000                     0    1           1         1
           16:46:53.967000                     0    1           1         1
           16:47:48.106000                     0    1           1         1
           16:47:48.662000                     0    1           1         1
           16:47:52.664000                     0    1           1         1
           16:48:54.050000                     0    1           1         1
           16:49:54.825000                     0    1           1         1
           16:50:55.829000                     0    1           1         1
           16:51:56.824000                     0    1           1         1
           16:52:57.864000                     0    1           1         1

## session vs pagetitle

In [52]:
df_tmp[df_tmp.geo_city=='Bonn'].groupby(['session_id','dm_data_pagetitle_3']).count()
df_page = df_tmp[df_tmp.geo_city=='Bonn'].groupby(['session_id','dm_data_pagetitle_3','dm_event']).count()
df_page

                                                                        dm_time  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0             1
           ['Europe - My Travel Exp']                         1.0             1
           ['Home - My Travel Exp']                           1.0             1
           ['The guide to ultimate Travel Essentials for E... 1.0             1
1397x88    ['About - My Travel Exp']                          1.0             1
...                                                                         ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0             1
           ['Thailand Archives - My Travel Exp']              1.0             1
ytlxi9     ['Home - My Travel Exp']                           1.0             1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0             1
yxdw2i     ['Home - My Travel Exp']                           1.0             1

                                                                        dm_data_UserAgent_0  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                         1
           ['Europe - My Travel Exp']                         1.0                         1
           ['Home - My Travel Exp']                           1.0                         1
           ['The guide to ultimate Travel Essentials for E... 1.0                         1
1397x88    ['About - My Travel Exp']                          1.0                         1
...                                                                                     ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                         1
           ['Thailand Archives - My Travel Exp']              1.0                         1
ytlxi9     ['Home - My Travel Exp']                           1.0                         1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                         1
yxdw2i     ['Home - My Travel Exp']                           1.0                         1

                                                                        dm_data_url_1  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                   1
           ['Europe - My Travel Exp']                         1.0                   1
           ['Home - My Travel Exp']                           1.0                   1
           ['The guide to ultimate Travel Essentials for E... 1.0                   1
1397x88    ['About - My Travel Exp']                          1.0                   1
...                                                                               ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                   1
           ['Thailand Archives - My Travel Exp']              1.0                   1
ytlxi9     ['Home - My Travel Exp']                           1.0                   1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                   1
yxdw2i     ['Home - My Travel Exp']                           1.0                   1

                                                                        dm_data_referrer_2  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                        1
           ['Europe - My Travel Exp']                         1.0                        1
           ['Home - My Travel Exp']                           1.0                        1
           ['The guide to ultimate Travel Essentials for E... 1.0                        1
1397x88    ['About - My Travel Exp']                          1.0                        1
...                                                                                    ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                        1
           ['Thailand Archives - My Travel Exp']              1.0                        1
ytlxi9     ['Home - My Travel Exp']                           1.0                        1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                        1
yxdw2i     ['Home - My Travel Exp']                           1.0                        0

                                                                        dm_data_NetworkHosts_4  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                            1
           ['Europe - My Travel Exp']                         1.0                            1
           ['Home - My Travel Exp']                           1.0                            1
           ['The guide to ultimate Travel Essentials for E... 1.0                            1
1397x88    ['About - My Travel Exp']                          1.0                            1
...                                                                                        ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                            1
           ['Thailand Archives - My Travel Exp']              1.0                            1
ytlxi9     ['Home - My Travel Exp']                           1.0                            1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                            1
yxdw2i     ['Home - My Travel Exp']                           1.0                            1

                                                                        dm_data_SchemaType_5  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                          0
           ['Europe - My Travel Exp']                         1.0                          0
           ['Home - My Travel Exp']                           1.0                          0
           ['The guide to ultimate Travel Essentials for E... 1.0                          0
1397x88    ['About - My Travel Exp']                          1.0                          0
...                                                                                      ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                          0
           ['Thailand Archives - My Travel Exp']              1.0                          0
ytlxi9     ['Home - My Travel Exp']                           1.0                          0
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                          0
yxdw2i     ['Home - My Travel Exp']                           1.0                          0

                                                                        dm_data_ProductBrand_6  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                            0
           ['Europe - My Travel Exp']                         1.0                            0
           ['Home - My Travel Exp']                           1.0                            0
           ['The guide to ultimate Travel Essentials for E... 1.0                            0
1397x88    ['About - My Travel Exp']                          1.0                            0
...                                                                                        ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                            0
           ['Thailand Archives - My Travel Exp']              1.0                            0
ytlxi9     ['Home - My Travel Exp']                           1.0                            0
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                            0
yxdw2i     ['Home - My Travel Exp']                           1.0                            0

                                                                        dm_data_ProductAvailability_7  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                                   0
           ['Europe - My Travel Exp']                         1.0                                   0
           ['Home - My Travel Exp']                           1.0                                   0
           ['The guide to ultimate Travel Essentials for E... 1.0                                   0
1397x88    ['About - My Travel Exp']                          1.0                                   0
...                                                                                               ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                                   0
           ['Thailand Archives - My Travel Exp']              1.0                                   0
ytlxi9     ['Home - My Travel Exp']                           1.0                                   0
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                                   0
yxdw2i     ['Home - My Travel Exp']                           1.0                                   0

                                                                        dm_data_AuthorName_8  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                          0
           ['Europe - My Travel Exp']                         1.0                          0
           ['Home - My Travel Exp']                           1.0                          0
           ['The guide to ultimate Travel Essentials for E... 1.0                          1
1397x88    ['About - My Travel Exp']                          1.0                          0
...                                                                                      ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                          0
           ['Thailand Archives - My Travel Exp']              1.0                          0
ytlxi9     ['Home - My Travel Exp']                           1.0                          0
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                          0
yxdw2i     ['Home - My Travel Exp']                           1.0                          0

                                                                        _id  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0         1
           ['Europe - My Travel Exp']                         1.0         1
           ['Home - My Travel Exp']                           1.0         1
           ['The guide to ultimate Travel Essentials for E... 1.0         1
1397x88    ['About - My Travel Exp']                          1.0         1
...                                                                     ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0         1
           ['Thailand Archives - My Travel Exp']              1.0         1
ytlxi9     ['Home - My Travel Exp']                           1.0         1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0         1
yxdw2i     ['Home - My Travel Exp']                           1.0         1

                                                                        env_userId  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0                1
           ['Europe - My Travel Exp']                         1.0                1
           ['Home - My Travel Exp']                           1.0                1
           ['The guide to ultimate Travel Essentials for E... 1.0                1
1397x88    ['About - My Travel Exp']                          1.0                1
...                                                                            ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0                1
           ['Thailand Archives - My Travel Exp']              1.0                1
ytlxi9     ['Home - My Travel Exp']                           1.0                1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0                1
yxdw2i     ['Home - My Travel Exp']                           1.0                1

                                                                        tm_date  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0             1
           ['Europe - My Travel Exp']                         1.0             1
           ['Home - My Travel Exp']                           1.0             1
           ['The guide to ultimate Travel Essentials for E... 1.0             1
1397x88    ['About - My Travel Exp']                          1.0             1
...                                                                         ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0             1
           ['Thailand Archives - My Travel Exp']              1.0             1
ytlxi9     ['Home - My Travel Exp']                           1.0             1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0             1
yxdw2i     ['Home - My Travel Exp']                           1.0             1

                                                                        tm_time  \
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0             1
           ['Europe - My Travel Exp']                         1.0             1
           ['Home - My Travel Exp']                           1.0             1
           ['The guide to ultimate Travel Essentials for E... 1.0             1
1397x88    ['About - My Travel Exp']                          1.0             1
...                                                                         ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0             1
           ['Thailand Archives - My Travel Exp']              1.0             1
ytlxi9     ['Home - My Travel Exp']                           1.0             1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0             1
yxdw2i     ['Home - My Travel Exp']                           1.0             1

                                                                        geo_city
session_id dm_data_pagetitle_3                                dm_event
111j3jy    ['Budget Travel Archives - My Travel Exp']         1.0              1
           ['Europe - My Travel Exp']                         1.0              1
           ['Home - My Travel Exp']                           1.0              1
           ['The guide to ultimate Travel Essentials for E... 1.0              1
1397x88    ['About - My Travel Exp']                          1.0              1
...                                                                          ...
rzgz2m     ['Privacy Policy / Terms and Conditions - My Tr... 1.0              1
           ['Thailand Archives - My Travel Exp']              1.0              1
ytlxi9     ['Home - My Travel Exp']                           1.0              1
           ['Privacy Policy / Terms and Conditions - My Tr... 1.0              1
yxdw2i     ['Home - My Travel Exp']                           1.0              1

[138 rows x 14 columns]

In [31]:
df_page.loc['111j3jy']

,dm_time,dm_event,dm_data_UserAgent_0,dm_data_url_1,dm_data_referrer_2,dm_data_NetworkHosts_4,dm_data_SchemaType_5,dm_data_ProductBrand_6,dm_data_ProductAvailability_7,dm_data_AuthorName_8,_id,env_userId,tm_date,tm_time,geo_city
dm_data_pagetitle_3,,,,,,,,,,,,,,,
['Budget Travel Archives - My Travel Exp'],1,1,1,1,1,1,0,0,0,0,1,1,1,1,1
['Europe - My Travel Exp'],1,1,1,1,1,1,0,0,0,0,1,1,1,1,1
['Home - My Travel Exp'],1,1,1,1,1,1,0,0,0,0,1,1,1,1,1
['The guide to ultimate Travel Essentials for Europe packing Checklist - My Travel Exp'],1,1,1,1,1,1,0,0,0,1,1,1,1,1,1

##  session vs pointers time vs event
- without _id

In [43]:
df_duration2 = df_pointer[['session_id','pointer_time']].groupby('session_id').agg(['min', 'max'])
df_duration2['total_time_spent'] = (df_duration2['pointer_time']['max'] - df_duration2['pointer_time']['min'])/1000
df_duration2

           pointer_time           total_time_spent
                    min       max
session_id
10l3trc             NaN       NaN              NaN
111j3jy            87.0  118769.0          118.682
11h19hg             NaN       NaN              NaN
1397x88            26.0    2023.0            1.997
15iqhjg             NaN       NaN              NaN
...                 ...       ...              ...
vev03g            750.0   10138.0            9.388
y5oy66          35305.0   42252.0            6.947
ytlxi9            111.0     943.0            0.832
yxdw2i            426.0    1217.0            0.791
zlxdeq              NaN       NaN              NaN

[70 rows x 3 columns]

In [46]:
df_duration2.total_time_spent.sort_values(ascending=False)

# time spent on each session

session_id
1lmy1gr    319.369
1fchtkp    293.386
1gy2b8l    270.880
1acstau    255.797
rzgz2m     248.262
            ...
15iqhjg        NaN
1cgxbak        NaN
1yzd91i        NaN
2hidmb         NaN
zlxdeq         NaN
Name: total_time_spent, Length: 70, dtype: float64

#### Now if session_id

In [24]:
df_dm.dm_data_pagetitle_3.apply(lambda x :len(literal_eval(x)) if isinstance(x,str) else x)
#only one value each row has

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
765    NaN
766    NaN
767    NaN
768    NaN
769    NaN
Name: dm_data_pagetitle_3, Length: 770, dtype: float64

## Title

In [46]:
plt.figure(figsize=(20,10))
df_dm.dm_data_pagetitle_3.apply(lambda x :literal_eval(x)[0] if isinstance(x,str) else x).value_counts().head(10)

Home - My Travel Exp                                     287
About - My Travel Exp                                    170
Blog - My Travel Exp                                     122
Contact Us - My Travel Exp                               105
Privacy Policy / Terms and Conditions - My Travel Exp     73
Destinations - My Travel Exp                              54
Europe - My Travel Exp                                    31
Budget Travel Archives - My Travel Exp                    31
travel essentials Archives - My Travel Exp                30
Asia - My Travel Exp                                      27
Name: dm_data_pagetitle_3, dtype: int64

## URL

In [254]:
df_dm.dm_data_url_1.apply(lambda x:literal_eval(x)[0] if isinstance(x,str) else x ).value_counts().head(15)

https://mytravelexp.com/                               32
https://mytravelexp.com/about/                         32
http://mytravelexp.com/                                29
https://mytravelexp.com/contactus/                     27
https://mytravelexp.com/blog/                          26
https://mytravelexp.com/privacy-policy/                20
https://mytravelexp.com/destinations/                  16
https://mytravelexp.com/travel-around-asia/             7
https://mytravelexp.com/travel-around-europe/           7
https://mytravelexp.com/category/budget-travel/         7
https://mytravelexp.com/category/travel-essentials/     6
https://mytravelexp.com/category/thailand/              4
http://localhost/                                       3
https://mytravelexp.com/2020/11/                        3
https://mytravelexp.com/category/travel-hacks/          3
Name: dm_data_url_1, dtype: int64

In [85]:
print(f'Dimension:      {df_dm.shape},\nDOM:            {df_dom.shape},\
      \nClick:          {df_click.shape}, \nConnection:     { df_cn.shape},\
      \nPointer:        { df_pointer.shape},\nNavigation:     {df_nv.shape},\
      \nEnvelope:       { df_env.shape},\nTimestamp:      {df_tm.shape}, \nMainDF:         { df.shape}')

Dimension:      (770, 12),
DOM:            (104522, 11),
Click:          (808, 22),
Connection:     (778, 7),
Pointer:        (13826, 6),
Navigation:     (770, 19),
Envelope:       (770, 11),
Timestamp:      (770, 3),
MainDF:         (770, 26)

In [206]:
df_click

,session_id,click_time,click_event,click_data_target,click_data_x,click_data_y,click_data_eX,click_data_eY,click_button,click_reaction,...,click_link,click_hash,click_region,click_data_button,click_data_context,click_data_hash,click_data_link,click_data_reaction,click_data_region,click_data_text
0,b0uews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b0uews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b0uews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11h19hg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d3m2i0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,ok0jka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,ok0jka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,ok0jka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806,ok0jka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
807,ok0jka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN