In [44]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from pymongo import MongoClient

from bson.objectid import ObjectId

import os

## Intial run

In [46]:
# Intial run
def readdata():
    with MongoClient('mongodb://collectionreader:Lacritz12345%23@85.214.144.66:27017/?authSource=dclmdb&readPreference=primary&appname=MongoDB%20Compass&ssl=false') as client:
        filter={}

        result = client['testdb']['A01000_collection'].find(
          filter=filter
        )

    df = pd.DataFrame()

    for i in result:
        df = df.append(i, ignore_index=True)
    
    return df

In [47]:
df = readdata()

In [48]:
df.shape

(770, 26)

# Connection

In [6]:
#  first time only
df_cn = pd.DataFrame(columns=['_id','cn_time','cn_event','cn_data_downlink','cn_data_rtt',
                                      'cn_data_saveData','cn_data_type'])

In [52]:
df.iloc[2]['connection']

[{'time': 20,
  'event': 30,
  'data': {'downlink': 1.25, 'rtt': 150, 'saveData': 0, 'type': '4g'}}]

In [39]:
de = clean_update_data_cn(df)

New activities count: 746
New rows added:  8

In [38]:
def clean_update_data_cn(df):
    path = 'D:\DataWorld\lacritz\data\clarity\\'
    header = 'cn'

    #df = readdata()
    if os.path.isfile(f'{path}{header}_data.csv'):
        df_cn = pd.read_csv(f'{path}{header}_data.csv', index_col=0)
        old_shape = df_cn.shape
        
        if len(df_cn) != 0:

            df_new_cn = df[df.timestamp > df[df._id == ObjectId(df_cn['_id'].iloc[-1])].timestamp.values[0]]
        else:

            df_new_cn = df.copy()
    else:
        df_new_cn = df.copy()
        old_shape = df_new_cn.shape
        df_cn = pd.DataFrame(columns=['_id','cn_time','cn_event','cn_data_downlink','cn_data_rtt',
                                      'cn_data_saveData','cn_data_type'])
    

    if len(df_new_cn) == 0:
        print('No update in data.. Its same as saved one.')
    else:
        print(f'New activities count: {len(df_new_cn)} ')
        
        # iterating on rows of dataframe
        for index, content in df_new_cn.iterrows():
            if isinstance(content.connection, list):
                
                # iterating on list (in connection col)
                for cn_ in content.connection:
                    
                    # chcecking if dictionary has 'data' key
                    if 'data' in cn_.keys():
                        
                           
                            # when all data is available
                        d = {'_id': content['_id'],
                                 'cn_time':cn_.get('time'),
                                 'cn_event':cn_.get('event'),
                                 'cn_data_downlink':cn_.get('data').get('downlink'),
                                 'cn_data_rtt':cn_.get('data').get('rtt'),
                                 'cn_data_saveData':cn_.get('data').get('saveData'),
                                 'cn_data_type':cn_.get('data').get('type'),

                                }
                                
                        df_cn = df_cn.append(d, ignore_index=True)
                    else:
                        # when data key does not exist
                        d = {'_id': content['_id'],
                                 'cn_time':cn_.get('time'),
                                 'cn_event':cn_.get('event'),
                                 'cn_data_downlink':float("NaN"),
                                 'cn_data_rtt':float("NaN"),
                                 'cn_data_saveData':float("NaN"),
                                 'cn_data_type':float("NaN"),

                             }
                        df_cn = df_cn.append(d, ignore_index=True)
                        
            else:
                # when complete row is NaN    
                d = {'_id': content['_id'],
                                 'cn_time':float("NaN"),
                                 'cn_event':float("NaN"),
                                 'cn_data_downlink':float("NaN"),
                                 'cn_data_rtt':float("NaN"),
                                 'cn_data_saveData':float("NaN"),
                                 'cn_data_type':float("NaN"),

                             }
                
                df_cn = df_cn.append(d, ignore_index=True)

        t = datetime.now()
        timestamp = str(t.year) + '_' + str(t.month) + '_' + str(t.day) + '_' + str(t.hour) + '_' + str(
            t.minute) + '_' + str(t.second)
        df_cn.to_csv(f'{path}backup\\{header}_data_{timestamp}.csv')

        df_cn.to_csv(f'{path}{header}_data.csv')

        print(f'New rows added:  {df_cn.shape[0] - old_shape[0]} ')
        
        return df_cn

In [42]:
de.cn_data_type.value_counts(dropna=False)

NaN    540
4g     214
Name: cn_data_type, dtype: int64

In [43]:
de

,_id,cn_time,cn_event,cn_data_downlink,cn_data_rtt,cn_data_saveData,cn_data_type
0,605b26139ddab75267083666,20,30,1.25,150,0,4g
1,605f3a829055ec40687183cb,20,30,1.25,150,0,4g
2,605f558e0c9ec818d902a8a8,20,30,1.25,150,0,4g
3,605f7322a0423e1ec4b8c618,71,30,10.00,0,0,4g
4,605f8355d8fe8102f945e164,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
749,606f53dd18741e3e8e161873,122373,30,10.00,50,0,4g
750,606f541a18741e3e8e161874,NaN,NaN,NaN,NaN,NaN,NaN
751,606f545718741e3e8e161875,NaN,NaN,NaN,NaN,NaN,NaN
752,606f549418741e3e8e161876,NaN,NaN,NaN,NaN,NaN,NaN
753,606f54d118741e3e8e161877,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
de.dom_data_hash.value_counts().shape

(5301,)

In [146]:
de.dom_data_parent.value_counts()

3.0       3739
5.0       1213
626.0      428
253.0      287
265.0      222
          ...
918.0        1
1564.0       1
915.0        1
1570.0       1
1612.0       1
Name: dom_data_parent, Length: 1275, dtype: int64

In [150]:
de.dom_data_attributes.loc[42322]

{'style': 'color: tomato;', 'href': 'http://mytravelexp.com/about/'}

In [7]:
a = [1,23]

In [9]:
for i in a.keys():
   print(2)

AttributeError: 'list' object has no attribute 'keys'