In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from pymongo import MongoClient

from bson.objectid import ObjectId

import os

from datetime import datetime

## Intial run

In [2]:
# Intial run
def readdata():
    with MongoClient('mongodb://collectionreader:Lacritz12345%23@85.214.144.66:27017/?authSource=dclmdb&readPreference=primary&appname=MongoDB%20Compass&ssl=false') as client:
        filter={}

        result = client['testdb']['A01000_collection'].find(
          filter=filter
        )

    df = pd.DataFrame()

    for i in result:
        df = df.append(i, ignore_index=True)
    
    return df

In [3]:
df = readdata()

# df_envelope = pd.DataFrame(index=df.index, columns=['_id','sessionId', 'userId', 'projectId', 'duration',
#        'start', 'end', 'version', 'sequence', 'pageNum', 'upload', 'DateTime','pointer', 'click'])


# for label, content in df.iterrows():
#     col = content.envelope.keys()
#     for c in col:
#         df_envelope.loc[label,c] = content.envelope[c]
    
#     df_envelope.loc[label,'DateTime'] = datetime.fromtimestamp(content.timestamp/1000)
    
#     df_envelope.loc[label,'pointer'] = content.pointer
    
#     df_envelope.loc[label,'click'] = content.click
    
#     df_envelope.loc[label,'_id'] = content._id

In [4]:
df.ip
df.ip.str.lstrip(':f')

#df.timestamp

0           127.0.0.1
1           127.0.0.1
2           127.0.0.1
3        66.249.70.58
4        103.77.37.48
            ...
940    49.207.219.253
941    49.207.219.253
942     66.249.69.241
943    49.207.219.253
944    49.207.219.253
Name: ip, Length: 945, dtype: object


# IP and geo location

In [9]:
#  first time only
df_geo = pd.DataFrame(columns=['_id','geo_city','geo_region','geo_country','geo_long_latti','geo_org'])

In [5]:
def ipInfo(addr=''):
    from urllib.request import urlopen
    from json import load
    url = 'http://api.ipstack.com/'+ addr +'?access_key=fadd729c90cc4c29f31b90120d7e6442&format=1'
    res = urlopen(url)
    #response from url(if res==None then check connection)
    data = load(res)
    #will load the json response into data
    return data

In [39]:
path = 'D:\DataWorld\lacritz\data\clarity\\'
header = 'geo'

    #df = readdata()
if os.path.isfile(f'{path}{header}_data.csv'):
    df_geo = pd.read_csv(f'{path}{header}_data.csv', index_col=0)
    old_shape = df_geo.shape

    if len(df_geo) != 0:

        df_new_geo = df[df.timestamp > df[df._id == ObjectId(df_geo['_id'].iloc[-1])].timestamp.values[0]]
    else:

        df_new_geo = df.copy()
else:
    df_new_geo = df.copy()
    old_shape = df_new_geo.shape

    df_geo = pd.DataFrame(columns=['session_id', 'geo_city', 'geo_region', 'geo_country', 'geo_loc', 'geo_continent','_id'])

if len(df_new_geo) == 0:
    print('Output>>    No update is found in GEO location data.. New data is same as saved one.')
else:
    print(f'Output>>    New activities captured: {len(df_new_geo)} ')

        # fetching geo location for each ip address
    print('api call started', datetime.now())

    df_tmp = pd.DataFrame(columns=['geo_city', 'geo_region', 'geo_country', 'geo_loc', 'geo_continent'])
    for ip_add in df.ip.str.lstrip('f[]:').unique():
        t_d = ipInfo(ip_add)
        d = {'geo_city': t_d.get('city'),
                 'geo_region': t_d.get('region_name'),
                 'geo_country': t_d.get('country_name'),
                 'geo_loc': (t_d.get('latitude'), t_d.get('longitude')),
                 'geo_continent': t_d.get('continent_name'),
                 'geo_ip': ip_add
                 }
        df_tmp = df_tmp.append(d, ignore_index=True)
    df_tmp.set_index('geo_ip', inplace=True)
    print('api call done', datetime.now())
    for index, content in df_new_geo.iterrows():
        t_ip = content.ip.lstrip(':f')

        d = dict(df_tmp.loc[t_ip])
        d['session_id'] = content.envelope.get('sessionId')
        d['_id'] = content['_id']

        df_geo = df_geo.append(d, ignore_index=True)

    t = datetime.now()
    timestamp = str(t.year) + '_' + str(t.month) + '_' + str(t.day) + '_' + str(t.hour) + '_' + str(
            t.minute) + '_' + str(t.second)
    df_geo.to_csv(f'{path}backup\\{header}_data_{timestamp}.csv')

    df_geo.to_csv(f'{path}{header}_data.csv')

    print(f'Output>>   Update completed.. New rows added:  {df_geo.shape[0] - old_shape[0]} ')

Output>>    No update is found in GEO location data.. New data is same as saved one.

In [16]:
import numpy as np

In [23]:
df_a = df.loc[:7]
df_a

,_id,connection,dimension,doc,envelope,ip,metric,navigation,pointer,resize,...,limit,upload,unload,custom,dom,upgrade,selection,timeline,image,log
0,605b26139ddab75267083666,"[{'time': 20, 'event': 30, 'data': {'downlink'...","[{'time': 3010, 'event': 1, 'data': {'0': ['Mo...","[{'time': 9, 'event': 8, 'data': {'width': 138...","{'version': '0.6.8', 'sequence': 1, 'start': 0...",127.0.0.1,"[{'time': 3010, 'event': 0, 'data': {'0': 1615...","[{'time': 240, 'event': 29, 'data': {'fetchSta...","[{'time': 491, 'event': 12, 'data': {'target':...","[{'time': 20, 'event': 11, 'data': {'width': 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,605f3a829055ec40687183cb,"[{'time': 20, 'event': 30, 'data': {'downlink'...","[{'time': 3010, 'event': 1, 'data': {'0': ['Mo...","[{'time': 9, 'event': 8, 'data': {'width': 138...","{'version': '0.6.8', 'sequence': 1, 'start': 0...",127.0.0.1,"[{'time': 3010, 'event': 0, 'data': {'0': 1615...","[{'time': 240, 'event': 29, 'data': {'fetchSta...","[{'time': 491, 'event': 12, 'data': {'target':...","[{'time': 20, 'event': 11, 'data': {'width': 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,605f558e0c9ec818d902a8a8,"[{'time': 20, 'event': 30, 'data': {'downlink'...","[{'time': 3010, 'event': 1, 'data': {'0': ['Mo...","[{'time': 9, 'event': 8, 'data': {'width': 138...","{'version': '0.6.8', 'sequence': 1, 'start': 0...",::ffff:127.0.0.1,"[{'time': 3010, 'event': 0, 'data': {'0': 1615...","[{'time': 240, 'event': 29, 'data': {'fetchSta...","[{'time': 491, 'event': 12, 'data': {'target':...","[{'time': 20, 'event': 11, 'data': {'width': 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,605f7322a0423e1ec4b8c618,"[{'time': 71, 'event': 30, 'data': {'downlink'...","[{'time': 3005, 'event': 1, 'data': {'0': ['Mo...","[{'time': 24, 'event': 8, 'data': {'width': 41...","{'version': '0.6.8', 'sequence': 1, 'start': 0...",::ffff:66.249.70.58,"[{'time': 3007, 'event': 0, 'data': {'0': 1616...","[{'time': 189, 'event': 29, 'data': {'fetchSta...",NaN,"[{'time': 64, 'event': 11, 'data': {'width': 4...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,605f8355d8fe8102f945e164,NaN,"[{'time': 3030, 'event': 1, 'data': {'0': ['Mo...","[{'time': 3, 'event': 8, 'data': {'width': 132...","{'version': '0.6.8', 'sequence': 1, 'start': 0...",::ffff:103.77.37.48,"[{'time': 3031, 'event': 0, 'data': {'0': 1616...",NaN,NaN,"[{'time': 35, 'event': 11, 'data': {'width': 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,605f835ad8fe8102f945e165,NaN,NaN,NaN,"{'version': '0.6.8', 'sequence': 2, 'start': 3...",::ffff:103.77.37.48,"[{'time': 7747, 'event': 0, 'data': {'2': 5834...",NaN,"[{'time': 668, 'event': 12, 'data': {'target':...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,605f8377d8fe8102f945e166,NaN,"[{'time': 36763, 'event': 1, 'data': {'4': ['w...","[{'time': 34209, 'event': 8, 'data': {'width':...","{'version': '0.6.8', 'sequence': 3, 'start': 7...",::ffff:103.77.37.48,"[{'time': 36764, 'event': 0, 'data': {'2': 391...",NaN,"[{'time': 30688, 'event': 12, 'data': {'target...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,605f837dd8fe8102f945e167,NaN,NaN,NaN,"{'version': '0.6.8', 'sequence': 4, 'start': 3...",::ffff:103.77.37.48,"[{'time': 43403, 'event': 0, 'data': {'2': 179...",NaN,"[{'time': 39890, 'event': 12, 'data': {'target...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_tmp= pd.DataFrame(columns=['geo_city','geo_region','geo_country','geo_loc','geo_continent'])
for ip_add in df_a.ip.str.lstrip('f[]:').unique():
    t_d= ipInfo(ip_add)
    d = {            'geo_city':t_d.get('city'),
                     'geo_region':t_d.get('region_name'),
                     'geo_country':t_d.get('country_name'),
                     'geo_loc':(t_d.get('latitude'),t_d.get('longitude')),
                     'geo_continent':t_d.get('continent_name'),
                     'geo_ip':ip_add
                     } 
    df_tmp = df_tmp.append(d, ignore_index=True)
df_tmp.set_index('geo_ip', inplace=True)

In [38]:
dict(df_tmp.loc['66.249.70.58'])

{'geo_city': 'Mountain View',
 'geo_region': 'California',
 'geo_country': 'United States',
 'geo_loc': (37.419158935546875, -122.07540893554688),
 'geo_continent': 'North America'}

In [28]:
df_tmp.set_index('geo_ip', inplace=True)

In [29]:
df_tmp

,geo_city,geo_region,geo_country,geo_loc,geo_continent
geo_ip,,,,,
127.0.0.1,None,None,None,"(None, None)",None
66.249.70.58,Mountain View,California,United States,"(37.419158935546875, -122.07540893554688)",North America
103.77.37.48,Chandampet,Telangana,India,"(17.968650817871094, 78.4233169555664)",Asia

In [74]:
A = [5,9,-1,2,4,6]

In [75]:
mini = A[0]
for i in A:
    if (i < mini) and (i > 0):
        mini = i
print('mini',mini)
    
maxi = A[0]
for i in A:
    if i > maxi:
        maxi = i
print('maxi',maxi)

    #m = A.min()
minimum = 1
for i in range(1,maxi+1):
    #print('i',i)
    if i not in A:
        minimum = i
        print('minimum',minimum)
        break
    else: 
        minimum = i+1
print(minimum)

mini 2
maxi 9
minimum 1
1

In [53]:
sorted([1,7,3,6])

[1, 3, 6, 7]