In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from pymongo import MongoClient

from bson.objectid import ObjectId

import os

## Intial run

In [2]:
# Intial run
def readdata():
    with MongoClient('mongodb://collectionreader:Lacritz12345%23@85.214.144.66:27017/?authSource=dclmdb&readPreference=primary&appname=MongoDB%20Compass&ssl=false') as client:
        filter={}

        result = client['testdb']['A01000_collection'].find(
          filter=filter
        )

    df = pd.DataFrame()

    for i in result:
        df = df.append(i, ignore_index=True)
    
    return df

In [3]:
df = readdata()

# df_envelope = pd.DataFrame(index=df.index, columns=['_id','sessionId', 'userId', 'projectId', 'duration',
#        'start', 'end', 'version', 'sequence', 'pageNum', 'upload', 'DateTime','pointer', 'click'])


# for label, content in df.iterrows():
#     col = content.envelope.keys()
#     for c in col:
#         df_envelope.loc[label,c] = content.envelope[c]
    
#     df_envelope.loc[label,'DateTime'] = datetime.fromtimestamp(content.timestamp/1000)
    
#     df_envelope.loc[label,'pointer'] = content.pointer
    
#     df_envelope.loc[label,'click'] = content.click
    
#     df_envelope.loc[label,'_id'] = content._id

In [8]:
df.envelope[0]

{'version': '0.6.8',
 'sequence': 1,
 'start': 0,
 'duration': 3011,
 'projectId': 'A01000',
 'userId': '1523jpa',
 'sessionId': 'b0uews',
 'pageNum': 1,
 'upload': 0,
 'end': 0}

# Envelope

In [9]:
#  first time only
df_env = pd.DataFrame(columns=['_id','env_version','env_sequence','env_start','env_duration',
                                      'env_projectId','env_userId','env_sessionId',
                                     'env_pageNum','env_unload','env_end'])


{'version': '0.6.8',
 'sequence': 1,
 'start': 0,
 'duration': 3011,
 'projectId': 'A01000',
 'userId': '1523jpa',
 'sessionId': 'b0uews',
 'pageNum': 1,
 'upload': 0,
 'end': 0}

In [14]:
# This will find out the recent updated rows into the database and update df_pointer table for new data.( it will save unnecessary processing)


path= 'D:\DataWorld\lacritz\data\clarity\\'
header='env'

df = readdata()
if os.path.isfile(f'{path}{header}_data.csv'):
    df_env = pd.read_csv(f'{path}{header}_data.csv',index_col=0 )
    old_shape= df_env.shape
    
    if len(df_env) != 0:
    
        df_new_env = df[df.timestamp>df[df._id==ObjectId(df_env['_id'].iloc[-1])].timestamp.values[0]]
    else:
    
        df_new_env = df.copy()
else:
    df_new_env = df.copy()
    old_shape = df_new_env.shape
    df_env = pd.DataFrame(columns=['_id','env_version','env_sequence','env_start','env_duration',
                                      'env_projectId','env_userId','env_sessionId',
                                     'env_pageNum','env_unload','env_end'])


        
if len(df_new_env) == 0:
    print('Output>>    No update is found in ENVELOPE data.. New data is same as saved one.')
else:
    print(f'Output>>    New activities captured: {len(df_new_env)} ')

    for index, content in df_new_env.iterrows():
        if isinstance(content.envelope,dict):
            #for env_ in content.envelope:

            d = {'_id':content['_id'],
                     'env_version':content.envelope.get('version'),
                     'env_sequence':content.envelope.get('sequence'),
                     'env_start':content.envelope.get('start'),
                     'env_duration':content.envelope.get('duration'),
                     'env_projectId':content.envelope.get('projectId'),
                     'env_userId':content.envelope.get('userId'),
                     'env_sessionId':content.envelope.get('sessionId'),
                     'env_pageNum':content.envelope.get('pageNum'),
                     'env_unload':content.envelope.get('upload'),
                     'env_end':content.envelope.get('end')
                     
                     } 
            df_env = df_env.append(d, ignore_index=True)
        else:
            d = {'_id':content['_id'],
                     'env_version':float("NaN"),
                     'env_sequence':float("NaN"),
                     'env_start':float("NaN"),
                     'env_duration':float("NaN"),
                     'env_projectId':float("NaN"),
                     'env_userId':float("NaN"),
                     'env_sessionId':float("NaN"),
                     'env_pageNum':float("NaN"),
                     'env_unload':float("NaN"),
                     'env_end':float("NaN")
                     
                     }
            df_env = df_env.append(d, ignore_index=True)
    t = datetime.now()
    timestamp = str(t.year)+'_'+str(t.month)+'_'+str(t.day)+'_'+str(t.hour)+'_'+str(t.minute)+'_'+str(t.second)
    df_env.to_csv(f'{path}backup\\{header}_data_{timestamp}.csv')

    df_env.to_csv(f'{path}{header}_data.csv')
            

print(f'Output>>   Update completed.. New rows added:  {df_env.shape[0] - old_shape[0]} ')

Output>>    New activities captured: 770
Updated the dataset with 770 row additions for dimension header

In [15]:
df_env

,_id,env_version,env_sequence,env_start,env_duration,env_projectId,env_userId,env_sessionId,env_pageNum,env_unload,env_end
0,605b26139ddab75267083666,0.6.8,1,0,3011,A01000,1523jpa,b0uews,1,0,0
1,605f3a829055ec40687183cb,0.6.8,1,0,3011,A01000,1523jpa,b0uews,1,0,0
2,605f558e0c9ec818d902a8a8,0.6.8,1,0,3011,A01000,1523jpa,b0uews,1,0,0
3,605f7322a0423e1ec4b8c618,0.6.8,1,0,3011,A01000,x0rkit,11h19hg,1,0,0
4,605f8355d8fe8102f945e164,0.6.8,1,0,3031,A01000,1qtg2g9,d3m2i0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
765,607019e218741e3e8e16188b,0.6.10,2,3650,61005,A01000,j87jtf,ok0jka,8,0,0
766,60701a1f18741e3e8e16188c,0.6.10,3,64655,60988,A01000,j87jtf,ok0jka,8,0,0
767,60701a5c18741e3e8e16188d,0.6.10,4,125643,61012,A01000,j87jtf,ok0jka,8,0,0
768,60701a9918741e3e8e16188e,0.6.10,5,186655,60985,A01000,j87jtf,ok0jka,8,0,0
769,60701ad618741e3e8e16188f,0.6.10,6,247640,61010,A01000,j87jtf,ok0jka,8,1,1