In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from pymongo import MongoClient

## Intial run

In [2]:
# Intial run
def readdata():
    client = MongoClient('mongodb://collectionreader:Lacritz12345%23@85.214.144.66:27017/?authSource=dclmdb&readPreference=primary&appname=MongoDB%20Compass&ssl=false')
    filter={}

    result = client['testdb']['A01000_collection'].find(
      filter=filter
    )

    df = pd.DataFrame()

    for i in result:
        df = df.append(i, ignore_index=True)
    
    return df

#   Execute one time to set the dataframe for comparison

In [99]:
    # run only first time
df_A01000 = readdata()
df_updated = df_A01000.copy()
df_i = df_updated.ip.str.lstrip(':f').value_counts()

df_ip = pd.DataFrame(index=df_i.index,data=df_i.values, columns=['Count'])

df_ip['Update'] = '-'

### df_geo

In [100]:
def ipInfo(addr=''):
    from urllib.request import urlopen
    from json import load
    if addr == '':
        url = 'https://ipinfo.io/json'
    else:
        url = 'https://ipinfo.io/' + addr + '/json'
    res = urlopen(url)
    #response from url(if res==None then check connection)
    data = load(res)
    #will load the json response into data
    return data

In [101]:
df_geo = pd.DataFrame(df_ip.index, columns=['IP'])

df_geo['ipinfo'] = df_geo.IP.apply(lambda x:ipInfo(x))

df_geo['city']= df_geo['ipinfo'].apply(lambda x: x.get('city'))
df_geo['region']= df_geo['ipinfo'].apply(lambda x: x.get('region'))
df_geo['country']= df_geo['ipinfo'].apply(lambda x: x.get('country'))
df_geo['location']= df_geo['ipinfo'].apply(lambda x: x.get('loc'))
df_geo['Connection']= df_geo['ipinfo'].apply(lambda x: x.get('org'))
df_geo.drop(columns=['ipinfo'], inplace=True)

df_geo.set_index('IP', inplace=True)
df_geo

,city,region,country,location,Connection
IP,,,,,
178.200.236.10,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
95.223.182.163,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
95.223.182.98,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
103.77.37.91,Vijayawada,Andhra Pradesh,IN,"16.5074,80.6466",AS24186 RailTel Corporation of India Ltd
46.128.196.219,Frankfurt am Main,Hesse,DE,"50.1155,8.6842",AS35244 Tele Columbus AG
49.207.214.61,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS24309 Atria Convergence Technologies Pvt. Lt...
49.207.214.25,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS24309 Atria Convergence Technologies Pvt. Lt...
103.77.37.48,Hyderabad,Telangana,IN,"17.3840,78.4564",AS24186 RailTel Corporation of India Ltd
94.134.92.219,Nürnberg,Bavaria,DE,"49.4542,11.0775",AS8881 1&1 Versatel Deutschland GmbH
103.77.37.40,Hyderabad,Telangana,IN,"17.3840,78.4564",AS24186 RailTel Corporation of India Ltd
49.207.212.248,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS24309 Atria Convergence Technologies Pvt. Lt...
178.200.236.27,Bonn,North Rhine-Westphalia,DE,"50.7344,7.0955",AS3209 Vodafone GmbH
66.249.70.56,Mount Pleasant,South Carolina,US,"32.7941,-79.8626",AS15169 Google LLC
66.249.70.58,Mount Pleasant,South Carolina,US,"32.7941,-79.8626",AS15169 Google LLC
196.15.23.13,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS38538 Oracle India Developement Centre.
66.249.70.60,Mount Pleasant,South Carolina,US,"32.7941,-79.8626",AS15169 Google LLC
127.0.0.1,None,None,None,None,None
196.15.23.6,Bengaluru,Karnataka,IN,"12.9719,77.5937",AS38538 Oracle India Developement Centre.
66.249.68.52,Des Moines,Washington,US,"47.4018,-122.3243",AS15169 Google LLC
66.249.68.54,Des Moines,Washington,US,"47.4018,-122.3243",AS15169 Google LLC
66.249.68.50,Des Moines,Washington,US,"47.4018,-122.3243",AS15169 Google LLC
66.249.66.94,Ashburn,Virginia,US,"39.0437,-77.4875",AS15169 Google LLC
66.249.66.92,Ashburn,Virginia,US,"39.0437,-77.4875",AS15169 Google LLC

In [6]:
df_A01000.shape

(524, 25)

### Check update if someone has accessed

In [10]:
df_updated = readdata()
temp= df_updated.ip.str.lstrip(':f').value_counts()
temp.rename("NewCount", inplace=True)

if 'Count' in df_ip:
    df_ip.rename({'Count':'OldCount'}, axis=1, inplace=True)
    
if not 'NewCount' in df_ip:
    df_ip['NewCount'] = 'NA'

for col in df_ip.columns:
    if not col in ['OldCount',  'NewCount','Update']:
        df_ip.drop(columns=[col],inplace=True)
        
df_ip.columns = ['OldCount',  'NewCount','Update']

update_ip = []

for label, content in temp.iteritems(): 
    if label in df_ip.index:
        #print(label)
        if df_ip.loc[label]['OldCount'] ==  temp[label]:
            #repeat
            df_ip.loc[label] = [df_ip.loc[label]['OldCount'],df_ip.loc[label]['NewCount'],'NaN']
            
        else:
            #update
            df_ip.loc[label] = [df_ip.loc[label]['OldCount'],df_ip.loc[label]['NewCount'], temp[label] - (df_ip.loc[label]['OldCount'] if df_ip.loc[label]['OldCount']!='NA' else 0)]
            update_ip.append(label)
    else:
        df_ip.loc[label] =  ['NA','NA',temp[label]]
        # new ip

#temp = pd.DataFrame(temp)
df_ip.drop(columns=['NewCount'],inplace=True)
df_ip = pd.concat( [df_ip, temp],axis=1)
df_ip = df_ip[['OldCount',  'NewCount','Update']]
df_ip = pd.concat([df_ip,df_geo.city], axis=1)

#print (f"Before : {df_ip['OldCount'].sum()} \n After: {temp.sum()}")

for j,ip_ in enumerate(update_ip):
    print ( f"{j+1}. User is from : {df_geo.loc[ip_]['city']},{df_geo.loc[ip_]['country']}, {df_geo.loc[ip_]['region']}")
    
df_ip

1. User is from : Bonn,DE, North Rhine-Westphalia

               OldCount  NewCount Update               city
IP
178.200.236.10      121       121    NaN               Bonn
95.223.182.163       91        91    NaN               Bonn
95.223.182.98        80        80    NaN               Bonn
103.77.37.91         45        45    NaN         Vijayawada
46.128.196.219       30        30    NaN  Frankfurt am Main
49.207.214.61        26        26    NaN          Bengaluru
49.207.214.25        23        23    NaN          Bengaluru
103.77.37.48         22        22    NaN          Hyderabad
94.134.92.219        17        17    NaN           Nürnberg
103.77.37.40         15        15    NaN          Hyderabad
49.207.212.248       14        14    NaN          Bengaluru
66.249.70.56          9         9    NaN     Mount Pleasant
196.15.23.13          7         7    NaN          Bengaluru
66.249.70.58          7         7    NaN     Mount Pleasant
66.249.70.60          4         4    NaN     Mount Pleasant
127.0.0.1             3         3    NaN               None
196.15.23.6           2         2    NaN          Bengaluru
66.249.68.50          2         2    NaN         Des Moines
66.249.68.52          2         2    NaN         Des Moines
66.249.68.54          2         2    NaN         Des Moines
66.249.66.92          1         1    NaN            Ashburn
66.249.66.94          1         1    NaN            Ashburn
178.200.236.27       NA         8      8               Bonn

## Session id and user id

In [3]:
df = readdata()

In [9]:
df.envelope[0]['userId']

'1523jpa'

In [10]:
df.envelope[0]['sessionId']

'b0uews'

In [11]:
df.envelope[0]['projectId']

'A01000'

In [ ]:
df.ip = df.ip.str.lstrip(':f')
df.set_index('ip', inplace=True)

In [93]:
df_envelope = pd.DataFrame(index=df.index, columns=['sessionId', 'userId', 'projectId', 'duration',
       'start', 'end', 'version', 'sequence', 'pageNum', 'upload', 'DateTime'])


for label, content in df.iterrows():
    col = content.envelope.keys()
    for c in col:
        df_envelope.loc[label,c] = content.envelope[c]
    
    df_envelope.loc[label,'DateTime'] = datetime.fromtimestamp(content.timestamp/1000)

In [102]:
df_envelope.shape, df_geo.shape

((535, 11), (23, 5))

In [104]:
df_envelope = pd.merge(df_envelope,df_geo.city,right_index=True, left_index=True)

In [105]:
df_envelope

,sessionId,userId,projectId,duration,start,end,version,sequence,pageNum,upload,DateTime,city
103.77.37.40,1lzrt2x,1qtg2g9,A01000,3028,0,0,0.6.10,1,1,0,2021-04-04 10:08:15.614000,Hyderabad
103.77.37.40,1lzrt2x,1qtg2g9,A01000,3028,0,0,0.6.10,1,1,0,2021-04-04 10:08:15.614000,Hyderabad
103.77.37.40,1lzrt2x,1qtg2g9,A01000,3028,0,0,0.6.10,1,1,0,2021-04-04 10:08:15.614000,Hyderabad
103.77.37.40,1lzrt2x,1qtg2g9,A01000,3028,0,0,0.6.10,1,1,0,2021-04-04 10:08:15.614000,Hyderabad
103.77.37.40,1lzrt2x,1qtg2g9,A01000,3028,0,0,0.6.10,1,1,0,2021-04-04 10:08:15.614000,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...
95.223.182.98,111j3jy,j87jtf,A01000,61013,247657,1,0.6.10,6,4,1,2021-04-03 16:52:57.864000,Bonn
95.223.182.98,111j3jy,j87jtf,A01000,61013,247657,1,0.6.10,6,4,1,2021-04-03 16:52:57.864000,Bonn
95.223.182.98,111j3jy,j87jtf,A01000,61013,247657,1,0.6.10,6,4,1,2021-04-03 16:52:57.864000,Bonn
95.223.182.98,111j3jy,j87jtf,A01000,61013,247657,1,0.6.10,6,4,1,2021-04-03 16:52:57.864000,Bonn
95.223.182.98,111j3jy,j87jtf,A01000,61013,247657,1,0.6.10,6,4,1,2021-04-03 16:52:57.864000,Bonn

  ## df_envelope contains information about time, sessionid, userid, location etc

In [110]:
df_envelope[df_envelope.city=='Bonn'].userId.unique()

array(['1kuh7mx', 'j87jtf'], dtype=object)

In [111]:
df_envelope[df_envelope.city=='Bonn'].sessionId.unique()

array(['p37ljn', '1csr77r', 'gtf7t8', '111j3jy'], dtype=object)